* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
}

#contenedor {
    width: 100%;
    max-width: 960px;
    padding: 2em;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
}

#titulo {
    font-family: "Jersey 10", sans-serif;
    color: #000;
    width: 8em;
}

main {
    border: #000 solid 2px;
    margin: 0 0.5em;
}

.apuesta {
    background-color: aqua;
    width: 10em;
}

#tablero {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.carta-usuario,
.carta-hal {
    height: 10em;
}

img {
    filter: invert(100%)
}

.carta {
    border: #000 solid 2px;
    width: 11.25em;
}

#cartas-usuario {
    display: flex;
}